<!DOCTYPE html>
<!-- directions.html.erb -->
<html>
<!--Samantha Holloway Senior Project Oct 2014-->
<head lang="en">
  <%= stylesheet_link_tag "Main.css" %>
  <meta charset="UTF-8">
  <title>Directions</title>
</head>
<body>
<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>


<h2>Overview</h2>
<p>Starting out in this game, you create your Butterfly Battler (the character<br>
  you will be fighting with). There are a variety of ways that you<br>
  can customize your character. You then begin level 1 and use<br>
  your abilities to defeat your enemy. You will win rewards and<br>
  continue on to the next level if you are victorious. Each round will<br>
  be harder than the last level.<br>

  <br>Your game ends when:
</p>
<ul>
  <li>You lose 2 times :(</li>
  <li>You beat every level!</li>
</ul>
<p>
  Once you have finished, you will be asked to enter<br>
  your name on the <%= link_to "High Score Board", :action => 'highscore', :color => 'purple'%> if you are in the top 10.<br>
</p>

<h2>Character Creation</h2>
<p>You are allowed to pick your color, shape, stats, name, and 3 special<br>
  abilities to customize your Butterfly Battler.<em>Once you have created<br>
  your character they can't be changed so choose wisely!</em>The stats <br>
  will affect your overall game-play, strength will make your character <br>
  hit harder, defense will make her take less damage, speed will allow<br>
  you to attack first, and health will give her a larger health pool. <br>
  The 3 special abilities are your choice of what attacks you want your<br>
  battler to have. The other customizations are cosmetic only.<br>
</p>

<h2>Gameplay</h2>
<p>Once you actually start your level, you will have a health bar and<br>
  4 abilities to attack with. Your enemy will also have the same, <br>
  but you will only see their health bar and picture. The objective <br>
  is to use the abilities to get the enemy's health down to 0 before <br>
  they get your battler's down to 0. If you do, you win and advance, <br>
  if you don't you have one more chance to succeed. You are only<br>
  allowed to lose twice before your game is over and you have to start<br>
  over from scratch! The High Score board will allow you to show off<br>
  your skills if you place within the top 10, which is determined by <br>
  how many levels you win before the game ends.<br>
</p>

<h2><%= link_to 'Get Started!', :action => 'creation'%></h2>

</body>
</html>
