<!DOCTYPE html>
<!--Samantha Holloway Senior Project Oct 2014-->
<html>
<head lang="en">
  <%= stylesheet_link_tag "Main.css" %>
  <meta charset="UTF-8">
  <title>Home</title>

</head>
<body>
<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>

<h2>Welcome to Butterfly Battle!</h2>
<p>The purpose of this site is to allow you to play through an arcade style<br>
  game. You get to customize your own Butterfly Battler to defeat evil enemies<br>
  that get progressively harder as you move through each level. At the end, you<br>
  can enter your name on the High Score table to etch your achievement in history!
</p>

<p>For a more detailed set of directions go <a href="">here</a>, or click below<br>
  to get started!
</p>

<h1><a href="">Create your Butterfly Battler!</a></h1>
</body>
</html>