<!DOCTYPE html>
<!--Samantha Holloway Senior Project Oct 2014-->
<html>
<head lang="en">
  <%= stylesheet_link_tag "Main.css" %>
  <meta charset="UTF-8">
  <title>Play!</title>
</head>
<body>
<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>

<!--Interface for actual gameplay will go here-->

</body>
</html>