#container{
    padding-top:10px;
    display:block;
    border-radius:5px;
    border-color:black;
    border-style:solid;
    border-width:10px;
    height:560px;
    width:700px;
    margin:0 auto;
    margin-top:20px;
    text-align:center;
    background-color:#C01AFF;

}

#versusBox{
    position:absolute;
    padding-top:5px;
    font-size:1.5em;
    font-style:italic;
    display:block;
    float:left;
    top:70%;
    color:mediumpurple;
    background:black;
    border-radius:15px;
    border-style:groove;
    border-color:mediumpurple;
    border-width: 10px;
    height:230px;
    width:250px;
    text-align:center;
}

#detailsBox{

}

#battlefield{
    text-align:center;
    margin:0 auto;
    border-radius:5px;
    border-width:5px;
    border-style:groove;
    border-color:black;
    display:block;
    background:white;
    height:350px;
    width:600px;

}

#attacks{
    border-style:double;
    margin:0 auto;
    margin-top:10px;
    background-color:white;
    display:block;
    height:150px;
    width:400px;


}

button{
    color:mediumpurple;
    background-color:black;
    border-radius:10px;
    border-color:mediumpurple;
    position:relative;
    top:30%;
    height:60px;
    width:70px;

}