<!DOCTYPE html>
<html>
<!--Samantha Holloway Senior Project Oct 2014-->
<head>
  <title>Butterflybattle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
