<!DOCTYPE html>
<!--Samantha Holloway Senior Project Oct 2014-->
<html>
<head lang="en">
  <link rel="stylesheet" type="text/css" href="Main.css" />
  <meta charset="UTF-8">
  <title>Play!</title>
</head>
<body>
<img src="Headline.jpg" class="WebsiteName" alt="Logo">



</body>
</html>